<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <settings>
            <!--Add comma seperated Template item ids to exclude those items from sitemap.xml-->
            <setting name="ExcludeSitecoreItemsByTemplatesInSitemap" value="{7ECF337F-AA79-4D5E-AB9B-C22BCB78AB49},{D2759A65-7D96-42A0-880A-C69C6328E2A6}" />
            <!--Add 
            2 means consider Language Embedding = Always
            1 means consider Language Embedding = AsNeeded
            0 means consider Language Embedding = Never
            -->
            <setting name="LanguageEmbedForSitemap" value="1" />
        </settings>
        <pipelines>
            <httpRequestBegin>
                <processor
                  patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']"
                  type="Sitemap.Pipelines.HTTPRequestBegin.Sitemap, VShared.Sitemap">
                </processor>
            </httpRequestBegin>
            <preprocessRequest>
                <processor patch:instead="processor[@type='Sitecore.Pipelines.PreprocessRequest.FilterUrlExtensions, Sitecore.Kernel']" 
                           type="Sitecore.Pipelines.PreprocessRequest.FilterUrlExtensions, Sitecore.Kernel">
                    <param desc="Allowed extensions (comma separated)">aspx, ashx, asmx, xml</param>
                    <param desc="Blocked extensions (comma separated)">*</param>
                    <param desc="Blocked extensions that stream files (comma separated)">*</param>
                    <param desc="Blocked extensions that do not stream files (comma separated)"></param>
                </processor>
            </preprocessRequest>
        </pipelines>
    </sitecore>
</configuration>